  NET "clock_12" LOC = P129 | IOSTANDARD = "LVCMOS33" | PERIOD = 12 MHz HIGH 50%;
  NET "SS_HEX1[7]" LOC = P117 | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 12;
    NET "SS_HEX1[6]" LOC = P116 | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 12;
    NET "SS_HEX1[5]" LOC = P115 | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 12;
    NET "SS_HEX1[4]" LOC = P113 | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 12;
    NET "SS_HEX1[3]" LOC = P112 | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 12;
    NET "SS_HEX1[2]" LOC = P111 | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 12;
    NET "SS_HEX1[1]" LOC = P110 | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 12;
    NET "SS_HEX1[0]" LOC = P114 | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 12;

    NET "SegmentEN" LOC = P120 | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 12;
	
	 NET "sw[7]" LOC = P70 | PULLUP | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 12;
    NET "sw[6]" LOC = P69 | PULLUP | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 12;
    NET "sw[5]" LOC = P68 | PULLUP | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 12;
    NET "sw[4]" LOC = P64 | PULLUP | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 12;
    NET "sw[3]" LOC = P63 | PULLUP | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 12;
    NET "sw[2]" LOC = P60 | PULLUP | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 12;
    NET "sw[1]" LOC = P59 | PULLUP | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 12;
    NET "sw[0]" LOC = P58 | PULLUP | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 12;
	 
	  NET "key[0]" LOC = P80 | PULLUP | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 12;
	   NET "key[1]" LOC = P79 | PULLUP | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 12;
		
   NET "DataLed[7]" LOC = P46 | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 12;
    NET "DataLed[6]" LOC = P47 | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 12;
    NET "DataLed[5]" LOC = P48 | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 12;
    NET "DataLed[4]" LOC = P49 | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 12;
    NET "DataLed[3]" LOC = P50 | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 12;
    NET "DataLed[2]" LOC = P51 | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 12;
    NET "DataLed[1]" LOC = P54 | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 12;
    NET "DataLed[0]" LOC = P55 | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 12;

    
	 
	 #################################################################################################
    NET "uart_txd" LOC = P31 | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 12;
    NET "uart_rxd" LOC = P32 | IOSTANDARD = "LVCMOS33" | SLEW = SLOW | DRIVE = 12;
#pin2ucf - Sat Sep 30 08:08:11 2023
#The following constraints were newly added
NET "sw<7>" LOC = P70;
NET "DataLed<7>" LOC = P46;
NET "key<0>" LOC = P80;
NET "key<1>" LOC = P79;
NET "SS_HEX1<0>" LOC = P114;
NET "SS_HEX1<1>" LOC = P110;
NET "SS_HEX1<2>" LOC = P111;
NET "SS_HEX1<3>" LOC = P112;
NET "SS_HEX1<4>" LOC = P113;
NET "SS_HEX1<5>" LOC = P115;
NET "SS_HEX1<6>" LOC = P116;
NET "SS_HEX1<7>" LOC = P117;
NET "sw<0>" LOC = P58;
NET "DataLed<0>" LOC = P55;
NET "sw<1>" LOC = P59;
NET "DataLed<1>" LOC = P54;
NET "sw<2>" LOC = P60;
NET "DataLed<2>" LOC = P51;
NET "sw<3>" LOC = P63;
NET "DataLed<3>" LOC = P50;
NET "sw<4>" LOC = P64;
NET "DataLed<4>" LOC = P49;
NET "sw<5>" LOC = P68;
NET "DataLed<5>" LOC = P48;
NET "sw<6>" LOC = P69;
NET "DataLed<6>" LOC = P47;
